<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <h1>Create a Basketball Team!</h1>

  <form method="POST" action="/newteam">
  <p><input type="text" name="Team Name:"><p>
  </form>

 </head>
 <body>
 </body>
</html>
